@charset "UTF-8";
@font-face {
  font-family: "planxcape";
  src: url("../fonts/planXcape/planxcape-webfont.eot"); }
@font-face {
  font-family: "planxcape";
  src: url("../fonts/planXcape/planxcape-webfont.woff2") format("woff2"), url("../fonts/planXcape/planxcape-webfont.woff") format("woff"), url("../fonts/planXcape/planxcape-webfont.ttf") format("truetype"), url("../fonts/planXcape/planxcape-webfont.svg#webfontregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.p-icon {
  display: inline-block;
  font: normal normal normal 16px/1 planxcape;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased; }

.p-list:before {
  content: ""; }

.p-grid:before {
  content: ""; }

.p-self:before {
  content: ""; }

.p-inside:before {
  content: ""; }

.p-hamburger:before {
  content: ""; }

.p-date-picker:before {
  content: ""; }

.p-dynamic:before {
  content: ""; }

.p-file:before {
  content: ""; }

.p-project:before {
  content: ""; }

.p-matter:before {
  content: ""; }

.p-public:before {
  content: ""; }

.p-map:before {
  content: ""; }

.p-delete:before {
  content: ""; }

.p-close:before {
  content: ""; }

.p-plus:before {
  content: ""; }

.p-arrow-left:before {
  content: ""; }

.p-arrow-up:before {
  content: ""; }

.p-arrow-right:before {
  content: ""; }

.p-arrow-down:before {
  content: ""; }

.p-caret-left:before {
  content: ""; }

.p-caret-up:before {
  content: ""; }

.p-caret-right:before {
  content: ""; }

.p-caret-down:before {
  content: ""; }

.p-angle-left:before {
  content: ""; }

.p-angle-up:before {
  content: ""; }

.p-angle-right:before {
  content: ""; }

.p-angle-down:before {
  content: ""; }

.p-magnifier:before {
  content: ""; }

.p-circle-add:before {
  content: ""; }

.p-circle-add-o:before {
  content: ""; }

.p-circle-matter-o:before {
  content: ""; }

.p-circle-matter:before {
  content: ""; }

.p-circle-delete-o:before {
  content: ""; }

.p-circle-delete:before {
  content: ""; }

.p-micro-o:before {
  content: ""; }

.p-micro:before {
  content: ""; }

.p-more:before {
  content: ""; }

.p-position:before {
  content: ""; }

.p-password:before {
  content: ""; }

.p-avatar:before {
  content: ""; }

.p-account:before {
  content: ""; }

.p-reply:before {
  content: ""; }

.p-image:before {
  content: ""; }

.p-check:before {
  content: ""; }

.p-bell:before {
  content: ""; }

.p-clock-o:before {
  content: ""; }

.p-clock:before {
  content: ""; }

.p-open-more:before {
  content: ""; }

.p-black-list:before {
  content: ""; }

.p-specified-list:before {
  content: ""; }

.p-add-list:before {
  content: ""; }

.p-start:before {
  content: ""; }

.p-tip:before {
  content: ""; }

.p-address:before {
  content: ""; }

.p-set:before {
  content: ""; }

.p-logout:before {
  content: ""; }

.p-all-project:before {
  content: ""; }

.p-data:before {
  content: ""; }

.p-delete:before {
  content: ""; }

.p-edit:before {
  content: ""; }

.p-enterprise:before {
  content: "";
  position: relative;
  top: -4px; }

.p-general:before {
  content: ""; }

.p-annex:before {
  content: ""; }

.p-milestone:before {
  content: ""; }

/*# sourceMappingURL=font.css.map */
